@import '../../resources/styles/variables';

@mixin buttonTheme($base-background, $base, $hover-background, $hover) {
  background-color: $base-background;
  color: $base;

  &:hover, &:focus {
    background: $hover-background;
    color: $hover;
  }

  &:disabled,
  &.button--disabled {
    background: $base-background;
    color: rgba($base, .3);
  }
}

.button {
  display: inline-block;
  border-radius: $border-radius-small;
  padding: 0 $padding-horizontal-small;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s ease;
  cursor: pointer;

  @include buttonTheme($rosewood, $white, $rosegold, $slate);

  & > * {
    pointer-events: none;
  }

  &_icon {
    margin-right: 10px;
  }

  &--square, &--circle {
    position: relative;
    padding: 0;
    width: 30px;

    .button_icon {
      margin-right: 0;
    }
  }

  &--circle {
    border-radius: $border-radius-circle;
  }

  &--tall {
    height: 40px;
    line-height: 40px;
  }

  &--tall.button--square,
  &--tall.button--circle {
    width: 40px;

    .button_icon {
      font-size: $font-size-medium;
      line-height: 40px;
    }
  }

  &--wide {
    width: 100px;

    & + & {
      margin-left: $padding-horizontal-small;
    }
  }

  &--midnight {
    @include buttonTheme($midnight, $white, $slate, $white);
  }

  &--rose-gold {
    @include buttonTheme($rosegold, $rosewood, $rosewood, $white);
  }

  &--white {
    @include buttonTheme($white, $slate, $pale-grey, $slate);
  }

  &--shaded {
    @include buttonTheme($transparent-dark-15, $white, $transparent-dark-20, $white);
  }

  &--cancel,
  &--transparent {
    padding: 0 $padding-horizontal-xsmall;
    text-transform: capitalize;

    @include buttonTheme(transparent, $light-slate, transparent, $white);
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
    cursor: default;
  }
}