@import '../../resources/styles/variables';
@import '../../resources/styles/mixins/generic';

.hero-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  height: 100vh;
  background-color: $midnight;
  animation: fade-in 1s ease;
  z-index: $z-index--level-two;

  &_image, &_mask {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  &_image {
    opacity: 1;
    background-size: cover;
    background-position: center;
    z-index: $z-index--level-two;
    transition: background-image 0.6s ease;
  }

  &_mask {
    z-index: $z-index--level-two + 1;
    background: rgba(0,0,0, 0.75);
    background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 50%,rgba(0,0,0,0.95) 100%);
  }

  &_inner {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    z-index: $z-index--level-two + 2;
  }

  &_intro {
    margin: 100px 20px 60px;
  }

  &_title, &_subtitle {
    text-align: center;
  }

  &_title {
    font-family: $font-family--cursive;
    font-size: 175px;
    color: $rosegold;
  }

  &_subtitle {
    margin-bottom: 20px;
    font-family: $font-family--serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
  }

  &--visible {
    opacity: 1;
  }

  @include breakpoint($screen--medium) {
    .hero-banner {
      &_intro {
        margin: 120px 20px 30px;
      }

      &_title {
        font-size: 120px;
      }
    }
  }

  @include breakpoint($screen--small) {
    .hero-banner {
      &_inner {
        justify-content: flex-end;
      }

      &_intro {
        margin: 100px 20px 20px;
      }

      &_title {
        font-size: 100px;
      }

      &_subtitle {
        margin-bottom: 30px;
      }
    }
  }

  @include breakpoint($screen--mobile) {
    .hero-banner {

      &_title {
        font-size: 75px;
      }

      &_subtitle {
        font-size: 12px;
      }
    }
  }
}