@import '../../resources/styles/variables';

.lights {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;

  &_node {
    position: absolute;
    opacity: 0;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: fade-in-out 8s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);

    &--blue {
      box-shadow: rgba($blue-glow, 0.2) 0 0 35vh 40vh;
    }

    &--pink {
      box-shadow: rgba($cream-glow, 0.2) 0 0 35vh 40vh;
    }

    &--gold {
      box-shadow: rgba($cream-glow, 0.2) 0 0 35vh 40vh;
    }
  }
}