@import '../../resources/styles/variables';

$table-top-width: 100vw;
$table-top-height: 100vh;
$table-top-padding: 20px;

@keyframes table-top-zoom {
  0%   { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

.table-top {
  width: $table-top-width;
  height: $table-top-height;
  overflow: hidden;

  &_surface {
    transition: transform 1s ease-in-out;
    transform-origin: center;

    &--moving {
      .table-top-pane {animation: table-top-zoom 1s;}
    }
  }
}