@import '../../resources/styles/variables';

.spinner {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  z-index: $z-index--mask;

  &_inner {
    height: 50px;
    width: 50px;
    border: 2px solid $rosegold;
    border-radius: $border-radius-circle;
    animation: loading-pulse 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    z-index: $z-index--mask + 1;
  }

  &_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  &--fixed {
    position: fixed;
  }

  &--masked {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .spinner {
      &_inner {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
      }
    }
  }

  &--rain & {
    &_inner {
      border-color: $rain;
    }
  }
}