@mixin color-attributes($base-background, $base, $hover-background, $hover) {
  background-color: $base-background;
  color: $base;

  &:hover, &:focus {
    background: $hover-background;
    color: $hover;
  }

  &:disabled,
  &.button--disabled {
    background: $base-background;
    color: rgba($base, .3);
  }
}