$icomoon-font-family: "iris" !default;
$icomoon-font-path: "fonts" !default;

$q4i-presentation-4pt: "\e933";
$q4i-webcast-4pt: "\e934";
$q4i-xls-1pt: "\e930";
$q4i-xls-2pt: "\e931";
$q4i-xls-4pt: "\e932";
$q4i-funnel-filter-1pt: "\e92d";
$q4i-funnel-filter-2pt: "\e92e";
$q4i-funnel-filter-4pt: "\e92f";
$q4i-search-1pt: "\e92b";
$q4i-search-4pt: "\e92c";
$q4i-pdf-1pt: "\e926";
$q4i-pdf-2pt: "\e927";
$q4i-pdf-4pt: "\e928";
$q4i-table-1pt: "\e929";
$q4i-table-4pt: "\e92a";
$q4i-activity-1pt: "\e924";
$q4i-notifications-1pt: "\e925";
$q4i-generate-1pt: "\e900";
$q4i-generate-2pt: "\e901";
$q4i-generate-4pt: "\e902";
$q4i-request-2pt: "\e903";
$q4i-request-4pt: "\e904";
$q4i-position-1pt: "\e905";
$q4i-position-2pt: "\e906";
$q4i-position-4pt: "\e907";
$q4i-custom-4pt: "\e908";
$q4i-target-1pt: "\e909";
$q4i-target-2pt: "\e90a";
$q4i-target-4pt: "\e90b";
$q4i-targeting-4pt: "\e90c";
$q4i-lock-4pt: "\e90d";
$q4i-nodata-4pt: "\e90e";
$q4i-notifications-4pt: "\e90f";
$q4i-releases-4pt: "\e910";
$q4i-stage-1pt: "\e911";
$q4i-stage-2pt: "\e912";
$q4i-stage-4pt: "\e913";
$q4i-transcripts-4pt: "\e914";
$q4i-insider-4pt: "\e915";
$q4i-press-releases-4pt: "\e916";
$q4i-iris-logo: "\e917";
$q4i-swap-2pt: "\e918";
$q4i-swap-4pt: "\e919";
$q4i-scale-1pt: "\e91a";
$q4i-scale-2pt: "\e91b";
$q4i-scale-4pt: "\e91c";
$q4i-fullscreen-exit-1pt: "\e91d";
$q4i-fullscreen-exit-2pt: "\e91e";
$q4i-fullscreen-exit-4pt: "\e91f";
$q4i-volatility-4pt: "\e920";
$q4i-sentiment-4pt: "\e921";
$q4i-question-mark-4pt: "\e922";
$q4i-star-fill: "\e923";
$q4i-security-mapping-2pt: "\e939";
$q4i-move-to-list-4pt: "\e93c";
$q4i-book-2pt: "\e93d";
$q4i-mobile-1pt: "\e93e";
$q4i-savedtargets-2pt: "\e93f";
$q4i-rss-4pt: "\e940";
$q4i-feedback-2pt: "\e941";
$q4i-price-4pt: "\e942";
$q4i-rating-4pt: "\e943";
$q4i-price-2pt: "\e944";
$q4i-rating-2pt: "\e945";
$q4i-insider-2pt: "\e946";
$q4i-buyers-2pt: "\e948";
$q4i-sellers-2pt: "\e949";
$q4i-reportclosed-4pt: "\e94a";
$q4i-reportno-4pt: "\e94b";
$q4i-reportopen-4pt: "\e94c";
$q4i-research-2pt: "\e94d";
$q4i-arrowdouble-sm-left-4pt: "\e94e";
$q4i-arrowdouble-sm-right-4pt: "\e94f";
$q4i-sync-2pt: "\e950";
$q4i-sync-4pt: "\e952";
$q4i-mail-4pt: "\e953";
$q4i-phone-4pt: "\e954";
$q4i-edit-4pt: "\e955";
$q4i-desktop-1pt: "\e956";
$q4i-tablet-2pt: "\e957";
$q4i-tablet-1pt: "\e958";
$q4i-session-2pt: "\e95b";
$q4i-session-1pt: "\e95c";
$q4i-rate-2pt: "\e95f";
$q4i-rate-1pt: "\e960";
$q4i-pages-session-2pt: "\e961";
$q4i-pages-session-1pt: "\e965";
$q4i-new-user-2pt: "\e967";
$q4i-new-user-1pt: "\e969";
$q4i-new-session-2pt: "\e96b";
$q4i-new-session-1pt: "\e96c";
$q4i-contact-1pt: "\e96d";
$q4i-savedsearches-2pt: "\e96e";
$q4i-targeting-2pt: "\e96f";
$q4i-stop-watch-4pt: "\e970";
$q4i-longarrow-down-2pt: "\e972";
$q4i-longarrow-up-2pt: "\e974";
$q4i-info-fill: "\e975";
$q4i-noresults-2pt: "\e978";
$q4i-noresults-4pt: "\e97b";
$q4i-nodata-2pt: "\e97e";
$q4i-trashbin-4pt: "\e980";
$q4i-flexible-2pt: "\e981";
$q4i-plus-4pt: "\e982";
$q4i-minus-4pt: "\e983";
$q4i-checkmark-4pt: "\e984";
$q4i-surveillance-2pt: "\e985";
$q4i-activist-4pt: "\e987";
$q4i-ownership-2pt: "\e988";
$q4i-watchlist-2pt: "\e989";
$q4i-support-2pt: "\e98a";
$q4i-presentation-2pt: "\e98b";
$q4i-bookmark-2pt: "\e998";
$q4i-export-4pt: "\e999";
$q4i-logout-2pt: "\e99a";
$q4i-download-2pt: "\e99b";
$q4i-download-4pt: "\e99c";
$q4i-more-4pt: "\e99d";
$q4i-time-1pt: "\e99e";
$q4i-time-2pt: "\e99f";
$q4i-book-4pt: "\e9a0";
$q4i-roadshow-2pt: "\e9a3";
$q4i-collection-2pt: "\e9a5";
$q4i-collection-4pt: "\e9a6";
$q4i-userprofile-2pt: "\e9a7";
$q4i-ticker-2pt: "\e9a8";
$q4i-add-to-list-4pt: "\e9aa";
$q4i-review-undomove-4pt: "\e9ac";
$q4i-review-archive-4pt: "\e9ad";
$q4i-caret-sm-left-2pt: "\e9af";
$q4i-custom-2pt: "\e9b0";
$q4i-add-to-calendar-4pt: "\e9b3";
$q4i-filter-2pt: "\e9b4";
$q4i-conference-2pt: "\e9b6";
$q4i-venue-2pt: "\e9b7";
$q4i-undo-4pt: "\e9b9";
$q4i-map-marker-4pt: "\e9ba";
$q4i-warning-4pt: "\e9bb";
$q4i-security-4pt: "\e9be";
$q4i-ownership-4pt: "\e9bf";
$q4i-savedtargets-4pt: "\e9c0";
$q4i-shareholder-id-2pt: "\e9c2";
$q4i-activity-4pt: "\e9c4";
$q4i-conference-4pt: "\e9c5";
$q4i-meeting-4pt: "\e9c6";
$q4i-note-4pt: "\e9c7";
$q4i-roadshow-4pt: "\e9c8";
$q4i-itinerary-1pt: "\e9c9";
$q4i-itinerary-2pt: "\e9ca";
$q4i-itinerary-4pt: "\e9cb";
$q4i-contact-4pt: "\e9cd";
$q4i-fund-4pt: "\e9ce";
$q4i-deal-1pt: "\e9cf";
$q4i-deal-2pt: "\e9d0";
$q4i-deal-4pt: "\e9d1";
$q4i-institution-4pt: "\e9d2";
$q4i-activity-calendar-2pt: "\e9d3";
$q4i-website-2pt: "\e9d4";
$q4i-cog-4pt: "\e9d5";
$q4i-trashbin-2pt: "\e9d6";
$q4i-suggest-an-edit-2pt: "\e9d7";
$q4i-utility-2pt: "\e9d8";
$q4i-contact-list-2pt: "\e9d9";
$q4i-morning-star-data-2pt: "\e9da";
$q4i-eod-reports-2pt: "\e9db";
$q4i-link-4pt: "\e9dc";
$q4i-html-2pt: "\e9dd";
$q4i-table-2pt: "\e9de";
$q4i-mobile-2pt: "\e9df";
$q4i-estimates-research-2pt: "\e9e0";
$q4i-print-2pt: "\e9e1";
$q4i-piechart-2pt: "\e9e2";
$q4i-lightbulb-1pt: "\e9e3";
$q4i-free-1pt: "\e9e4";
$q4i-data-2pt: "\e9e5";
$q4i-data-1pt: "\e9e6";
$q4i-customer-1pt: "\e9e7";
$q4i-closed-1pt: "\e9e8";
$q4i-ai-2pt: "\e9e9";
$q4i-ai-1pt: "\e9ea";
$q4i-volatility-2pt: "\e9eb";
$q4i-upcoming-events-2pt: "\e9ec";
$q4i-relative-performance-2pt: "\e9ed";
$q4i-past-events-2pt: "\e9ee";
$q4i-notifications-2pt: "\e9ef";
$q4i-note-2pt: "\e9f0";
$q4i-map-marker-2pt: "\e9f1";
$q4i-expected-trading-range-2pt: "\e9f2";
$q4i-admin-2pt: "\e9f3";
$q4i-activist-2pt: "\e9f4";
$q4i-lock-2pt: "\e9f5";
$q4i-fullscreen-4pt: "\e9f6";
$q4i-calendar-4pt: "\e9f7";
$q4i-add-4pt: "\e9f8";
$q4i-add-2pt: "\e9f9";
$q4i-time-4pt: "\e9fa";
$q4i-edit-2pt: "\e9fb";
$q4i-cog-2pt: "\e9fc";
$q4i-question-mark-2pt: "\e9fd";
$q4i-sec-2pt: "\e9fe";
$q4i-fund-2pt: "\e9ff";
$q4i-institution-2pt: "\ea00";
$q4i-press-releases-2pt: "\ea01";
$q4i-releases-2pt: "\ea02";
$q4i-transcripts-2pt: "\ea03";
$q4i-caret-sm-left-4pt: "\ea04";
$q4i-caret-sm-down-4pt: "\ea05";
$q4i-caret-sm-right-4pt: "\ea06";
$q4i-caret-sm-up-4pt: "\ea07";
$q4i-mail-2pt: "\ea08";
$q4i-meeting-2pt: "\ea09";
$q4i-chat-2pt: "\ea0a";
$q4i-phone-2pt: "\ea0b";
$q4i-hamburger-desktop-2pt: "\ea0c";
$q4i-chart-2pt: "\ea0d";
$q4i-list-2pt: "\ea0e";
$q4i-checklist-2pt: "\ea0f";
$q4i-team-2pt: "\ea10";
$q4i-sentiment-2pt: "\ea11";
$q4i-webcast-2pt: "\ea12";
$q4i-website-analytics-2pt: "\ea13";
$q4i-activity-2pt: "\ea14";
$q4i-security-2pt: "\ea15";
$q4i-contact-2pt: "\ea16";
$q4i-dashboard-2pt: "\ea17";
$q4i-events-transcripts-2pt: "\ea18";
$q4i-reports-2pt: "\ea19";
$q4i-calculator-2pt: "\ea1a";
$q4i-stop-watch-2pt: "\ea1b";
$q4i-lightbulb-2pt: "\ea1c";
$q4i-free-2pt: "\ea1d";
$q4i-postchat-2pt: "\ea1e";
$q4i-sort-2pt: "\ea1f";
$q4i-coffee-2pt: "\ea20";
$q4i-growth-2pt: "\ea21";
$q4i-open-1pt: "\ea22";
$q4i-resolved-1pt: "\ea23";
$q4i-total-tickets-1pt: "\ea24";
$q4i-desktop-2pt: "\ea25";
$q4i-customer-2pt: "\ea26";
$q4i-employee-2pt: "\ea27";
$q4i-blog-2pt: "\ea28";
$q4i-blog-fill: "\ea29";
$q4i-moustache-2pt: "\ea2a";
$q4i-checkmark-2pt: "\ea2b";
$q4i-arrow-down-2pt: "\ea2c";
$q4i-arrow-left-2pt: "\ea2d";
$q4i-arrow-right-2pt: "\ea2e";
$q4i-arrow-sm-down-4pt: "\ea2f";
$q4i-arrow-sm-left-4pt: "\ea30";
$q4i-arrow-sm-right-4pt: "\ea31";
$q4i-arrow-sm-up-4pt: "\ea32";
$q4i-arrow-up-2pt: "\ea33";
$q4i-close-2pt: "\ea34";
$q4i-close-4pt: "\ea35";
$q4i-link-2pt: "\ea36";
$q4i-play-2pt: "\ea37";
$q4i-drag-drop-2pt: "\ea38";
$q4i-hamburger-q4inc-2pt: "\ea39";
$q4i-print-4pt: "\ea3a";
$q4i-search-2pt: "\ea3b";
$q4i-logo: "\ea3c";
$q4i-utility-4pt: "\ebbd";
