.modal {

  &_title h2 {
    font-family: "Open Sans", sans-serif !important;
    line-height: 80px !important;
    padding: 0 20px 0 !important;
    color: $white !important;
    background-color: $q4-blue;
  }

  &_body {
    height: 500px;
    padding: 0 !important;
  }

  &_close {
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 16px;
    padding: 20px;
    color: $white;
    cursor: pointer;

    &:hover {
      color: $slate;
    }
  }
}