@import '../variables';

.tooltip {
  position: absolute;
  font-size: $font-size-base;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 $padding-horizontal-small;
  box-shadow: rgba(0, 0, 0, .2) 0 0 20px;
  pointer-events: none;
  z-index: $z-index--level-three;

  @include position-and-color($citrus, $dark-slate, $mustard);

  &--error {
    text-transform: none;
    @include position-and-color($spice, $white, $amber);

    &--right {
      left: 100%;
    }

    &_textarea {
      &--right {
        top: auto;
      }
    }
  }


  &_header {
    @include flexbox();
    @include align-items(center);
    padding: 0 $padding-horizontal-small;
    background-color: $citrus;
    line-height: 40px;

    &-icon {
      margin-right: $padding-vertical-xsmall;
    }
  }

  &_content {
    padding: $padding-vertical-small $padding-horizontal-small $padding-vertical-xsmall;
    line-height: $line-height-base;
    background-color: $white;
    border-radius: 0 0 $border-radius-small $border-radius-small;
    white-space: normal;
  }

  &_guide-button {
    padding: 0;
    line-height: 30px;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
  }

  &--no-arrow {
    &:before {
      display: none;
    }

    border-radius: $border-radius-small !important;
  }

  &--action {
    @include flexbox();
    min-width: 200px;
    padding: $padding-vertical-small;

    .tooltip {
      &_info, &_link {
        font-size: $font-size-base;
        line-height: $font-size-large;
        text-transform: none;
      }

      &_link {
        margin-top: $padding-vertical-xsmall;

        &:hover {
          color: $rain;
        }
      }

      &_button {
        margin-left: $padding-vertical-xsmall;
      }
    }
  }

  &--guide, &--info {
    padding: 0;
    pointer-events: inherit;
    text-transform: none;
  }

  &--guide {
    width: 240px;
  }

  &--info {
    width: 270px;
    white-space: normal;

    .tooltip {
      &_header {
        padding: $padding-horizontal-small;
        line-height: $line-height-base;
      }
      &_content {
        padding: $padding-vertical-xsmall $padding-horizontal-small;
        line-height: $line-height-large;
      }
    }
  }
}